.container {

    background: #ddd;

    padding: 2em;

    mat-form-field { width: 100% }

    mat-card {
        margin-bottom: 2em;
    }

    //@@
    mat-progress-spinner {
        float: left;
        margin: -0.3em 0.5em 0 0;
    }

}
