textarea.mat-input-element {
    overflow-y: hidden;
}

.lock-address-info {
    text-align: center;
    input { text-align: center }

    img {
        width: 80%;
        max-width: 300px;
    }
}

.hidden {
    display: none;
}