<h1>
    Create a time-locked address
</h1>

<form>
    <mat-form-field class="whole" appearance="fill">
        <mat-label>Blockchain</mat-label>
        <mat-select placeholder="Blockchain" [(ngModel)]="selectedBlockchain" name="blockchain">
            <mat-option *ngFor="let chain of blockchains" [value]="chain">
                {{chain.longName}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="half" appearance="fill">
        <mat-label>Unlock date</mat-label>
        <input matInput [matDatepicker]="dp" [(ngModel)]="lockDate" name="date">
        <mat-datepicker #dp></mat-datepicker>
    </mat-form-field>
    <div></div>
    <mat-form-field class="half" appearance="fill">
        <mat-label>Unlock time</mat-label>
        <input type="time" matInput placeholder="xx:xx" [(ngModel)]="lockTime" name="time">
    </mat-form-field>
</form>

<div class="action-button-container">
    <button mat-raised-button color="primary" (click)="createTimeLockedAddress( lockDate, lockTime )">Create address</button>
</div>

<div *ngIf="addressInfo">
    <h2>Time-locked address created</h2>
    <p><b>Time-locked address:</b> {{addressInfo.p2shAddress}}</p>
    <p><b>Unlock time:</b> {{addressInfo.lockTime.toLocaleString()}}</p>
    <p><b>Redeem data:</b> {{addressInfo.redeemJSON}}</p>
</div>