<section>
    <h1 class="has-image">
        <img src="./assets/img/icons/mailbox.svg">
        Create a time-locked address
    </h1>

    <form>
        <mat-form-field class="whole" appearance="fill">
            <mat-label>Blockchain</mat-label>
            <mat-select placeholder="Blockchain" [(ngModel)]="selectedBlockchain" name="blockchain">
                <mat-option *ngFor="let chain of blockchains" [value]="chain">
                    {{chain.longName}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="half" appearance="fill">
            <mat-label>Unlock date</mat-label>
            <input matInput [matDatepicker]="dp" [(ngModel)]="lockDate" name="date">
            <mat-datepicker #dp></mat-datepicker>
        </mat-form-field>
        <div></div>
        <mat-form-field class="half" appearance="fill">
            <mat-label>Unlock time</mat-label>
            <input type="time" matInput [(ngModel)]="lockTime" name="time">
        </mat-form-field>
    </form>

    <div class="action-button-container">
        <button mat-raised-button color="primary" (click)="createTimeLockedAddress( lockDate, lockTime )">Create address</button>
    </div>
</section>

<section *ngIf="addressInfo">
    <h1 class="has-image">
        <img src="./assets/img/icons/check.svg">
        Success!
    </h1>

    <button mat-raised-button color="primary" (click)="print('time-lock-print')">Print everything</button>
    <p>Send coins to the address below to time-lock them. The coins will be locked until <b>{{addressInfo.lockTime.toLocaleString()}}.</b></p>
    <div class="lock-address-info">
        <img src="{{addressInfo.addressQRData}}" alt="QR code">
        <form>
            <mat-form-field class="whole">
                <input matInput [value]="addressInfo.p2shAddress" readonly (click)="$event.target.select()">
            </mat-form-field>
        </form>
    </div>

    <p>Copy all the information below to a safe place, or print it. Whoever has this information can redeem the locked coins.</p>
    <form>
        <mat-form-field class="whole">
            <textarea matInput [matTextareaAutosize]="true" [value]="addressInfo.redeemJSON" readonly (click)="$event.target.select()"></textarea>
        </mat-form-field>
    </form>

    <div id="time-lock-print" class="hidden">
        <h1>Time-locked {{this.redeemData.blockchain}} address<br><small>Send coins here to lock them until {{addressInfo.lockTime.toLocaleString()}}</small></h1>
        <p>
            <img src="{{addressInfo.addressQRData}}">
        </p>
        <p>{{addressInfo.p2shAddress}}</p>
        <h1>How to redeem locked coins</h1>
        <p>Use the Open Savings Initiative app to scan the QR code below. Anybody who has the below data can redeem the coins after the lock expires.</p>
        <p>
            <img src="{{addressInfo.redeemQRData}}">
        </p>
    </div>
</section>