<mat-card>
    <h1 class="has-image">
        <img src="./assets/img/icons/mailbox.svg">
        Create a time-locked address
    </h1>

    <form>
        <mat-form-field class="whole" appearance="fill">
            <mat-label>Blockchain</mat-label>
            <mat-select placeholder="Blockchain" [(ngModel)]="selectedBlockchain" name="blockchain">
                <mat-option *ngFor="let chain of blockchains" [value]="chain">
                    {{chain.longName}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="half" appearance="fill">
            <mat-label>Locked until (date)</mat-label>
            <input matInput [matDatepicker]="dp" [(ngModel)]="lockDate" name="date">
            <mat-datepicker #dp></mat-datepicker>
        </mat-form-field>
        <div style="flex:0 1 1em"></div>
        <mat-form-field class="half" appearance="fill">
            <mat-label>Locked until (time)</mat-label>
            <input type="time" matInput [(ngModel)]="lockTime" name="time">
        </mat-form-field>
    </form>

    <div class="action-button-container">
        <button mat-raised-button color="primary" (click)="createTimeLockedAddress( lockDate, lockTime )">Create address</button>
    </div>
</mat-card>

<mat-card *ngIf="addressInfo" id="success">
    <h1 class="has-image">
        <img src="./assets/img/icons/check.svg">
        Success!
    </h1>

    <button mat-raised-button color="primary" (click)="print('time-lock-print')">Print everything</button>
    <p>Before you lock any coins, either <b>copy or print all the information below</b> and keep it in a safe place.</p>

    <form>
        <mat-form-field appearance="fill" class="whole">
            <mat-label>Send coins to this address to lock them</mat-label>
            <input matInput readonly (click)="$event.target.select()" [value]="addressInfo.p2shAddress" #successAddress>
        </mat-form-field>
        <div class="below-field-button">
            <button mat-button color="primary" (click)="copyToClipboard(successAddress)">Copy to clipboard</button>
            <button mat-button color="primary" (click)="showImageDialog(addressInfo.addressQRData)">Show QR code</button>
        </div>

        <mat-form-field appearance="fill" class="whole">
            <mat-label>Locked until</mat-label>
            <input matInput readonly (click)="$event.target.select()" [value]="addressInfo.lockTime.toLocaleString()" #successUnlockTime>
        </mat-form-field>
        <div class="below-field-button">
            <button mat-button color="primary" (click)="copyToClipboard(successUnlockTime)">Copy to clipboard</button>
        </div>
    </form>
    <p>Store the data below with care &mdash; whoever has it can redeem the locked coins after the lock expires!</p>
    <form>
        <mat-form-field appearance="fill" class="whole">
            <mat-label>Data needed to redeem coins from the time-locked address</mat-label>
            <textarea matInput readonly (click)="$event.target.select()" [matTextareaAutosize]="true" [value]="addressInfo.redeemJSON" #successRedeem></textarea>
        </mat-form-field>
        <div class="below-field-button">
            <button mat-button color="primary" (click)="copyToClipboard(successRedeem)">Copy to clipboard</button>
        </div>
    </form>

    <div id="time-lock-print" class="hidden">
        <h1>Time-locked {{this.redeemData.blockchain}} address<br><small>Send coins here to lock them until {{addressInfo.lockTime.toLocaleString()}}</small></h1>
        <p>
            <img src="{{addressInfo.addressQRData}}">
        </p>
        <p>{{addressInfo.p2shAddress}}</p>
        <h1>How to redeem locked coins</h1>
        <p>Use the Open Savings Initiative app to scan the QR code below. Anybody who has the below data can redeem the coins after the lock expires.</p>
        <p>
            <img src="{{addressInfo.redeemQRData}}">
        </p>
    </div>
</mat-card>