dt {
    opacity: 0.5;
}

h3 { margin-top: 0 }

@media only screen and (max-width: 600px ) {
    dd {
        margin-left: 0;
        margin-bottom: 1em;
    }

    .usd-amount {
        display: block;
    }
}
