<div mat-dialog-content>
    <h3>Redeem the coins?</h3>
    <dl>
        <dt>Total:</dt>
        <dd><code>{{txDetails.total}} {{txDetails.units}} <span class="usd-amount">({{getUSDAmount(txDetails.total)}})</span></code></dd>
        <dt>Fee:</dt>
        <dd><code>{{txDetails.fee}} {{txDetails.units}} <span class="usd-amount">({{getUSDAmount(txDetails.fee)}})</span></code></dd>
        <dd><button mat-button color="accent" [mat-dialog-close]="'custom-fee'">Enter a custom fee</button></dd>
        <dt>Redeem to:</dt>
        <dd><code>{{txDetails.toAddress}}</code></dd>
    </dl>
</div>
<div mat-dialog-actions>
    <button mat-button color="primary" [mat-dialog-close]="false">Cancel</button>
    <button mat-button color="primary" [mat-dialog-close]="true">OK</button>
</div>