<div class="app-container" [class.is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="toolbar">
        <button *ngIf="mobileQuery.matches" mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <div *ngIf="mobileQuery.matches" class="toolbar-spacer"></div>
        <img src="./assets/img/opensavings_black.png">
        Open Savings Initiative
    </mat-toolbar>
    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav
        [mode]="mobileQuery.matches ? 'over' : 'side'"
        [fixedInViewport]="mobileQuery.matches"
        fixedTopGap="56"
        [opened]="!mobileQuery.matches" #sidenav>
            <mat-nav-list>
                <a *ngFor="let navItem of navItems" mat-list-item [routerLink]="navItem.link" routerLinkActive="active" (click)="sidenav.toggle(!mobileQuery.matches)">{{navItem.label}}</a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <div class="version">1.0.2</div>
</div>


<qr-scanner></qr-scanner>