mat-sidenav {
    background: #333;
}

mat-sidenav-content {
    display: block;
    position: relative;
    padding: 2em;

    background: #4b5f98;
}

.toolbar {
    font-weight: normal;

    img {
        height: 60%;
        vertical-align: middle;
        margin-right: 0.5em;
    }

    .toolbar-spacer {
        margin: 0 1em 0 0.65em;
        height: 100%;
        border-left: 1px solid rgba(0,0,0,0.2);
    }
}

.app-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.is-mobile .toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

.sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
}

.is-mobile .sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
}

a.active {
    background: black;
}

.version {
    position: absolute;
    bottom: 0.2em;
    left: 0.4em;
    z-index: 10;
    font-size: 60%;
    color: white;
    opacity: 0.1;
}