<div class="video-wrapper" [hidden]="!overlay.isVisible" [class.show]="overlay.isOpaque">
    <p class="camera-loading" [hidden]="overlay.showLoadingAnimation">Loading camera feed...</p>
    <mat-spinner [hidden]="!overlay.showLoadingAnimation"></mat-spinner>
    <video class="camera-video" autoplay [hidden]="overlay.showLoadingAnimation" #cameraVideo></video>
    <p class="camera-instructions" [hidden]="!overlay.showCameraInstructions">Hold the QR code up to the camera.</p>
    <p><button mat-raised-button color="primary" (click)="stopWebcam()">Cancel</button></p>
</div>
<canvas class="camera-canvas" #cameraCanvas></canvas>