<h1>
    Check balance of a time-locked address
</h1>

<form>
    <div class="qr-scan-buttons">
        <div *ngIf="qrScanner.getUserMediaIsSupported" class="qr-video">
            <button mat-stroked-button color="primary" (click)="qrScanner.scanQR()">Scan QR code</button>
        </div>
        <div *ngIf="!qrScanner.getUserMediaIsSupported" class="qr-input">
            <button mat-stroked-button color="primary">Scan QR code</button>
            <input type="file" capture="camera" accept="image/*" (change)="qrScanner.onQRFileChange($event.target)">
        </div>
    </div>

    <mat-form-field class="whole" appearance="fill">
        <mat-label>Time-locked address</mat-label>
        <input matInput name="lockedAddress" [(ngModel)]="lockedAddress">
    </mat-form-field>
</form>

<div class="action-button-container">
    <button mat-raised-button color="primary" (click)="checkBalance( lockedAddress )" [disabled]="buttonDisabled">
        Check balance <span *ngIf="buttonDisabled"><mat-spinner diameter="20"></mat-spinner></span>
    </button>
</div>

<div *ngIf="balanceInfo.totalCoinsText && !buttonDisabled">
    <h2>Balance of address</h2>
    <p><b>{{balanceInfo.totalCoinsText}}</b><br>({{balanceInfo.totalUSDText}})</p>
</div>