<mat-card>
    <h1 class="has-image">
        <img src="./assets/img/icons/balance.svg">
        Check the balance of a time-locked address
    </h1>

    <form>
        <mat-form-field class="whole" appearance="fill">
            <mat-label>Time-locked address</mat-label>
            <input matInput name="lockedAddress" [(ngModel)]="lockedAddress">
        </mat-form-field>
        <div class="qr-scan-buttons">
            <div *ngIf="qrScanner.getUserMediaIsSupported" class="qr-video">
                <button mat-button color="primary" (click)="qrScanner.scanQR()">Scan QR code</button>
            </div>
            <div *ngIf="!qrScanner.getUserMediaIsSupported" class="qr-input">
                <button mat-button color="primary">Scan QR code</button>
                <input type="file" capture="camera" accept="image/*" (change)="qrScanner.onQRFileChange($event.target)">
            </div>
        </div>
    </form>

    <div class="action-button-container">
        <button mat-raised-button color="primary" (click)="checkBalance( lockedAddress )" [disabled]="buttonDisabled">
            Check balance <span *ngIf="buttonDisabled"><mat-spinner diameter="20"></mat-spinner></span>
        </button>
    </div>
</mat-card>

<mat-card *ngIf="balanceInfo.totalCoinsText && !buttonDisabled" id="success">
    <h1 class="has-image">
        <img src="./assets/img/icons/check.svg">
        Success
    </h1>
    <div>
        <h3>Balance of address</h3>
        <p>
            <b>{{balanceInfo.totalCoinsText}}</b>
            <span *ngIf="balanceInfo.totalUSDText != null">
                <br>({{balanceInfo.totalUSDText}})
            </span>
        </p>
    </div>

    <div class="note">Note: balance might only include confirmed transactions</div>
</mat-card>