<h1>
    Check balance of a time-locked address
</h1>

<form>
    <button mat-stroked-button color="primary" (click)="scanQR()">Scan QR code</button>
    <mat-form-field class="whole" appearance="fill">
        <mat-label>Time-locked address</mat-label>
        <input matInput #lockedAddress>
    </mat-form-field>
</form>

<div class="action-button-container">
    <button mat-raised-button color="primary" (click)="checkBalance( lockedAddress.value )" [disabled]="buttonDisabled">
        Check balance <span *ngIf="buttonDisabled"><mat-spinner diameter="20"></mat-spinner></span>
    </button>
</div>

<div *ngIf="balanceInfo.totalCoinsText && !buttonDisabled">
    <h2>Balance of address</h2>
    <p><b>{{balanceInfo.totalCoinsText}}</b><br>({{balanceInfo.totalUSDText}})</p>
</div>