<h1>Download the offline app</h1>

<p>Generating an address is more secure when using a computer disconnected from the internet.</p>
<p>An internet connection is still required to check the balance of an address or redeem coins.</p>

<mat-card>
    <h3>Windows</h3>
    <p>
        <a mat-raised-button color="primary" href="" target="_blank">Download for 32/64-bit Windows</a>
    </p>
</mat-card>

<mat-card>
    <h3>Mac</h3>
    <p>
        <a mat-raised-button color="primary" href="" target="_blank">Download for Mac OS X</a>
    </p>
</mat-card>

<mat-card>
    <h3>Linux</h3>
    <p>
        <a mat-raised-button color="primary" href="" target="_blank">Download for Linux</a>
    </p>
</mat-card>